@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

.wrap{
    width: 1200px;
    height: 1000px;
    margin: auto;
}

/* 상단 */
.header{
    background-color: rgb(152, 224, 188);
    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
}
/* 상단 로고 */
.logo{
    background-color: pink;
    width: 200px;  
}

.logo-1{
font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #fff;
  padding-top: 15px;
  text-align: center;
  display: block;
}
/* 상단 메뉴 */
nav{
    background-color: orange;
    width: 800px;
    position: absolute;
     bottom: 0px;
    right: 15px;
    height: 50px;

}

.navlist{

    display: flex;
    justify-content: space-around;
    line-height: 50px;
    width: 100%;

}

.list-1{
    
    text-align: center;
     width: calc(100% / 4)
    
}

.list-1-1{
    display: block;
   
}


.list-1-1:hover{
    background-color: #bebaba;
}

/* 메인 */
.main{
    width: 100%;
    height: 600px;
    padding: 50px;
}

.maindesc{
    display: flex;
    gap: 20px;
}

.img{
    width: 300px;

    transition: all 0.9s;
     overflow: hidden;
}

.waterfall{
    width: 100%;
}

h3{
    margin: 10px 0px;
}

.desc{
    width: 700px;
}
.img:hover img{
    transform: scale(1.05);
    filter: blur(1px);
    border-radius: 8px;
}

.footer{
    padding: 30px 20px;
}

.footer-ul{
    display: flex;
    background-color: bisque;
    padding: 5px 20px;
}


.footer-li:hover{
    text-decoration: underline;

}

.footer-li a::after{
    content: "";
    width: 1px;
    height: 13px;
    background-color: #333;
    display: inline-block;
    margin: 0px 20px;
 } 

 .footer-li:last-child a::after{
    content: none;
 }
